<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="fashionstore_ghtk" translate="label" type="text" sortOrder="110"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FashionStore GHTK</label>
                <field id="active" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Carrier Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="price" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping Fee</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
            <group id="fashionstore_ghn" translate="label" type="text" sortOrder="120"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FashionStore GHN</label>
                <field id="active" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Carrier Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="price" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping Fee</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
        <section id="payment">
            <group id="fashionstore_zalopay" translate="label" type="text" sortOrder="230"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FashionStore ZaloPay</label>
                <field id="active" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>FashionStore\CartOptions\Model\Config\Source\ZalopayEnvironment</source_model>
                </field>
                <field id="app_id" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App ID</label>
                </field>
                <field id="key1" translate="label" type="obscure" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key 1</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="key2" translate="label" type="obscure" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Callback Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="sandbox_base_url" translate="label" type="text" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Base URL</label>
                </field>
                <field id="production_base_url" translate="label" type="text" sortOrder="80"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production Base URL</label>
                </field>
                <field id="callback_url" translate="label comment" type="text" sortOrder="90"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Callback URL Override</label>
                    <comment>Leave blank to use the storefront callback route automatically.</comment>
                </field>
                <field id="redirect_url" translate="label comment" type="text" sortOrder="100"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect URL After Payment</label>
                    <comment>Optional. Leave blank to use Magento success page.</comment>
                </field>
                <field id="expire_duration_seconds" translate="label" type="text" sortOrder="110"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Expire Duration Seconds</label>
                </field>
                <field id="cancel_pending_after_minutes" translate="label comment" type="text" sortOrder="120"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Cancel Pending Orders After Minutes</label>
                    <comment>Unpaid ZaloPay orders still pending after this time will be canceled by cron.</comment>
                </field>
                <field id="preferred_payment_method" translate="label comment" type="text" sortOrder="130"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Preferred Payment Method JSON</label>
                    <comment>Example: ["vietqr"] or ["zalopay_wallet"]</comment>
                </field>
            </group>
            <group id="fashionstore_banktransfer_qr" translate="label" type="text" sortOrder="240"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FashionStore Bank Transfer QR</label>
                <field id="cancel_pending_after_minutes" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Cancel Orders Without Proof After Minutes</label>
                    <comment>Bank transfer QR orders without uploaded payment proof after this time will be canceled by cron.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
