<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Order\History">
        <plugin name="fashionstore_order_history_plugin"
                type="FashionStore\OrderManagement\Plugin\Block\OrderHistoryPlugin"/>
    </type>
    <type name="Magento\Review\Controller\Product\Post">
        <plugin name="fashionstore_completed_order_review_guard"
                type="FashionStore\OrderManagement\Plugin\Review\ProductPostPlugin"/>
    </type>
</config>
