<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fashionstore_social_login>
            <general>
                <enabled>1</enabled>
            </general>
            <google>
                <enabled>1</enabled>
            </google>
            <facebook>
                <enabled>1</enabled>
            </facebook>
        </fashionstore_social_login>
    </default>
</config>