<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Layer\Filter\Price">
        <plugin name="fashionstore_strict_catalog_price_range" type="FashionStore\PriceFilterFix\Plugin\StrictPriceRangeFilterPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\CatalogSearch\Model\Layer\Filter\Price">
        <plugin name="fashionstore_strict_search_price_range" type="FashionStore\PriceFilterFix\Plugin\StrictPriceRangeFilterPlugin" sortOrder="10"/>
    </type>
</config>
