<li id="payment" class="checkout-payment-method dior-payment" data-bind="fadeVisible: isVisible">
    <div id="checkout-step-payment" class="step-content">

        <form id="co-payment-form" class="form payments">
            <fieldset class="fieldset dior-fieldset">

                <legend class="legend dior-title">
                    <span data-bind="i18n: 'Payment'"></span>
                </legend>

                <!-- Payment methods -->
                <div class="dior-methods" data-bind="visible: isPaymentMethodsAvailable">

                    <!-- ko foreach: getRegion('payment-methods-list') -->
                        <div class="dior-method-item">
                            <!-- ko template: getTemplate() --><!-- /ko -->
                        </div>
                    <!-- /ko -->

                </div>

                <!-- No payment -->
                <div class="dior-empty" data-bind="visible: !isPaymentMethodsAvailable()">
                    <span>No payment methods available</span>
                </div>

            </fieldset>
        </form>

    </div>
</li>