<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <checkmo>
                <active>0</active>
            </checkmo>
            <cashondelivery>
                <active>0</active>
            </cashondelivery>
            <fashionstore_vnpay>
                <active>0</active>
                <model>FashionStore\CartOptions\Model\Payment\Vnpay</model>
                <order_status>pending</order_status>
                <title>VNPay</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <sort_order>210</sort_order>
            </fashionstore_vnpay>
            <fashionstore_momo>
                <active>0</active>
                <model>FashionStore\CartOptions\Model\Payment\Momo</model>
                <order_status>pending</order_status>
                <title>MoMo</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <sort_order>220</sort_order>
            </fashionstore_momo>
            <fashionstore_cod>
                <active>1</active>
                <model>FashionStore\CartOptions\Model\Payment\Cod</model>
                <order_status>pending</order_status>
                <title>Thanh toán offline khi nhận hàng</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <sort_order>225</sort_order>
            </fashionstore_cod>
            <fashionstore_zalopay>
                <active>1</active>
                <model>FashionStore\CartOptions\Model\Payment\Zalopay</model>
                <order_status>pending</order_status>
                <title>ZaloPay</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <sort_order>230</sort_order>
                <app_id>15847</app_id>
                <key1>0U93tRzdWEkMLVNYH90aBu5ca0Psql8T</key1>
                <key2>PurTcToVhvUt7vR2jO6He4lh3nfNEiks</key2>
                <sandbox_base_url>https://sb-openapi.zalopay.vn</sandbox_base_url>
                <production_base_url>https://openapi.zalopay.vn</production_base_url>
                <environment>sandbox</environment>
                <expire_duration_seconds>900</expire_duration_seconds>
                <preferred_payment_method></preferred_payment_method>
            </fashionstore_zalopay>
            <fashionstore_banktransfer_qr>
                <active>1</active>
                <model>FashionStore\CartOptions\Model\Payment\BankTransferQr</model>
                <order_status>pending_payment</order_status>
                <title>Chuyển khoản QR</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <sort_order>240</sort_order>
            </fashionstore_banktransfer_qr>
        </payment>
    </default>
</config>
