<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="fashionstore_cartoptions_ensure_shipping_before_place_order"
                type="FashionStore\CartOptions\Plugin\Checkout\EnsureShippingAddressBeforePlaceOrderPlugin"/>
    </type>
    <type name="Magento\Quote\Model\PaymentMethodManagement">
        <plugin name="fashionstore_cartoptions_ensure_shipping_before_payment_method"
                type="FashionStore\CartOptions\Plugin\Checkout\EnsureShippingAddressBeforePlaceOrderPlugin"/>
    </type>
</config>
